/*Separadores de la pagina*/
.separador2 {
    height: 160px;
    width: 100%;
}

/*Separadores de la pagina*/
.separador3 {
    width: 100%;
    height: 42px;
}

.linea1 {
    width: 712px;
    height: 3px;
    background: #FFF;
}

/*Separadores de la pagina*/
.separador4 {
    width: 100%;
    height: 38px;
}

.separador5 {
    width: 100%;
    height: 80px;
}

.separador6 {
    width: 100%;
    height: 80px;
}
