/*Contenedor Colaboraciones*/
.colaboracionesContent {
    width: 100%;
    height: 1048px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Titulo colaboracioes*/
.colaboracionestitle {
    display: flex;
    width: 448px;
    height: 56px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/*Seccion clientes*/
.clientesContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 80px
}

.clientes-container {
    width: 1192px;
    height: 912px;
    overflow: hidden;
    position: relative;
}

/*Imagneses clientes*/
.img-wrapper {
    width: 100%;
    height: 100%;
    background-image: url(../../../img/Component\ 5.png);
    background-size: auto 100%;
    animation: move 35s linear infinite;
}

@keyframes move {
    to {
        background-position: 4998px;
    }
}

/*Texto colaboraciones*/
.colaboracionescont {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

/*Contenedor text colaboraciones*/
.colaboracionestxt {
    display: flex;
    width: 296px;
    height: 168px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

/*Texto grande colaboraciones*/
.colaboracionesp span {
    color: #06052D;
    text-align: center;
    font-family: Montserrat;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.96px;
}

/*Texto colaboraciones*/
.colaboracionesp {
    color: #06052D;
    font-family: Montserrat;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.32px;
}