/*Contenido instalaciones*/
.instalacionesContent {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 160px;
}

/*Instalaciones titulo*/
.instalacionestitle {
    display: flex;
    width: 384px;
    height: 56px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #0F0000;
    text-align: center;
    font-family: Montserrat;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/*Texto instalaciones*/
.instalacionesp {
    display: flex;
    width: auto;
    max-width: 1344px;
    height: 232px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    text-align: justify;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*Contenido de las imagenes*/
.instalacionesimg {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

/*Imagenes de las instalaciones*/
.imginst {
    width: 448px;
    height: 624px;
    flex-shrink: 0;
    border-radius: var(--Corner-Medium, 12px);
}